.metadata/
TP1/boost/
TP1/cute/
TP1/Debug/
TP1/.*
TP1/*.xml
TP3/boost/
TP3/cute/
TP3/Debug/
TP3/.*
TP3/*.xml
TP4/boost/
TP4/cute/
TP4/Debug/
TP4/.*
TP4/*.xml
TP5/boost/
TP5/cute/
TP5/Debug/
TP5/.*
TP5/*.xml
TP6/boost/
TP6/cute/
TP6/Debug/
TP6/.*
TP6/*.xml
TP7/boost/
TP7/cute/
TP7/Debug/
TP7/.*
TP7/*.xml
TP8/boost/
TP8/cute/
TP8/Debug/
TP8/.*
TP8/*.xml

